.container {
  background-color: rgb(111, 87, 12);
  height: 100vh;
  color: rgb(35, 191, 191);
  text-align: center;
}
h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 80px;
  text-shadow: 2px 8px #000000;
  color: rgb(35, 191, 191);
}

th,
td {
  border: 2px solid #000;
}

table {
  margin: 5px auto;
}

.fieldContainer {
  display: inline-block;
}

.btn {
  margin-top: 10px;
  left: 100px;
  background-color: rgb(35, 191, 191);
}

:hover.btn{
  background-color: rgb(21, 136, 136);
}
